/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
  background:url('../images/bckgrnd_grad_001.png') top center repeat-x #12406f;
  color:#545454;
}

#page-wrapper {

}

#page {
  background:#FFF;
  -webkit-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
  margin-top:15px;
  padding:3px 25px 0;
  background:url('../images/header_background.png') 2px 0 repeat-x #FFF;
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 20px 0 20px 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  float:right;
  width:200px;
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
   /*padding:0 25px;*/
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
  margin:0 25px;
  border-bottom:1px dotted #545454;
}

.breadcrumb a{
  color:#545454;
  text-decoration:none;
}

.breadcrumb a:hover{
  color:#dc760f;
  text-decoration:none;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

h1.title{
  margin-bottom: 16px;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second h2 {
  background:url('../images/wave-icon-grey.png') 0px 2px no-repeat transparent;
  padding-left: 25px;
  font-weight:normal;
  font-size:1.2em;
  border-bottom:3px solid #545454;
  padding-bottom:5px;
  margin:16px 0;
}
.region-sidebar-second .section {
}

.region-sidebar-second .views-field img{
  padding:2px;
  border:1px solid #DDD;
}
.region-sidebar-second .views-field-field-article-thumbnail,
.region-sidebar-second .views-field-field-video{
  width:79px;
  height:63px;
  margin:0 12px 0 0;  
  float:left;
}
/*
.region-sidebar-second .views-field-field-video{
  display:none;
}
  */
.region-sidebar-second .views-field-title,
.region-sidebar-second .views-field-body{
  font-size:0.8em;
  line-height:1.2em;
  float:left;
  width:180px;
  
}
.region-sidebar-second .views-field-title{
  font-weight:bold; 
}
.region-sidebar-second .views-field-title a{
  text-decoration:none;
  color:#545454;
}
.region-sidebar-second .views-field-title a:hover{
  color:#dc760f;
}

.region-sidebar-second .view-related-articles .views-row{
  clear:both;
  height:90px;
  margin-bottom:12px;
}
/*
 * Footer
 */
.region-footer{
  clear:both;
  background:url('../images/footer_background_low.png') bottom center no-repeat #0f75dc;
}
.region-footer .block {
  clear:both;
}
.region-footer, 
.region-footer a{
  color:#FFF;
}
.region-footer .top-level-topic{
   border-bottom:1px solid white;
}
.region-footer .top-level-topic a{
  font-size:1.2em;
  background:url('../images/wave-icon-blue.png') 0px 4px no-repeat transparent;
  padding:0 0 0 20px;
  text-decoration:none;
  display:block;
}
.region-footer br{
  display:none;
}
.region-footer .sub-topics{
  padding-top:10px;
}
.region-footer .sub-topics a{
  line-height:1.2em;
  display:block;
  padding-bottom:10px;
  text-decoration:none;
}
.region-footer .sub-topics a:hover{
  text-decoration:underline;
}
.clearfix{
  clear:both;
}
#block-lwts-custom-blocks-topic-nav{
  
  width: 915px;
  
}
#block-lwts-custom-blocks-topic-nav .taxonomy-branch {
  float: left;

  font-size: 0.8em;
  padding-right: 15px;
  width: 133px;
  
}
#block-lwts-custom-blocks-topic-nav .first {
  margin-left: 0;
}
#footer_top{
  height:7px;
  background:url('../images/footer_background_hi.png') top center repeat-x transparent; 
}
#block-lwts-custom-blocks-topic-nav{
  padding-top:15px;
  margin:0 0 0 0;
  /*height:120px*/
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}
.region-footer{
    padding:0 25px 65px;
}

/* For two-column custom pages */
.lwts-custom-page-view-pane,
.lwts-custom-page-view-pane-outer {
  float: left;
  
  padding: 0;
  margin:0;
}

.columns-3 {
  width: 31.5%;
}

/*TEMP*/

#block-nodeblock-74{
  font-size:0.5em;
}
#block-nodeblock-74 p{
  padding:0;
  margin:0;
}


/* For the content of the topic nav block */


/**/
#block-lwts-custom-blocks-topic-nav{
  
}


/**/
#block-nodeblock-75{
  clear:both;
  margin-top:80px;
  margin-left:40px;
}
#node-75{
  width:350px;
  border-top:1px solid #FFF;
  margin: 0px auto;
}

#tandc_ul {
  width:320px;
  padding:0;
  margin:0px auto;
  }

#tandc_ul li{
  display:block;
  float:left;
}
#tandc_ul li a{
  display:block;
  padding:0px 10px;
  font-size:0.8em;
  text-decoration:none;
}
#tandc_ul li a:hover{
  text-decoration:underline;
}

.lwts-custom-page-vocabulary-2 {
  
}
/*
.action {
  border-bottom:3px solid #1d7cdc;
}
.education {
  border-bottom:3px solid #2ea165;
}
*/
#vocab-2-pane-1 {
  background:#e7f1fb;
  border-bottom:3px solid #1d7cdc;
  border-top:3px solid #1d7cdc;
  
  width: 405px;
  padding:15px;
  margin-right:20px;
}
#vocab-2-pane-2 {
  background:#e9f5ef;
  border-bottom:3px solid #2ea165;
  border-top:3px solid #2ea165;
  
  width: 405px;
  padding:15px;
  margin-right:0px;
}
#vocab-3-pane-1,
#vocab-3-pane-2,
#vocab-3-pane-3,
#vocab-3-pane-4,
#vocab-3-pane-5,
#vocab-3-pane-6{
  width: 275px;
  padding:0px;
  margin-right:32px;
}
#vocab-3-pane-3,
#vocab-3-pane-6{
  margin-right:0px;
}
.lwts-custom-page-view-pane-outer .views-field-title a{
  text-decoration:none;
  font-weight:normal;
  font-size:1.2em;
}
.lwts-custom-page-view-pane-outer .action .views-field-title a{
   color:#1d7cdc;
}
.lwts-custom-page-view-pane-outer .education .views-field-title a{
  color:#2ea165;
}
.columns-3 .action{
  border-bottom:3px solid #1d7cdc;
}
.columns-3 .education{
  border-bottom:3px solid #2ea165;
}
.columns-3 p{
  font-size: 0.9em
}
.action h2 a{
  color:#1d7cdc;
}
.education h2 a{
  color:#2ea165;
}
/*
.lwts-custom-page-vocabulary-2 .lwts-custom-page-view-pane-outer .action{
  background:#e7f1fb;
  border-bottom:3px solid #1d7cdc;
  border-top:3px solid #1d7cdc;
}
.lwts-custom-page-vocabulary-2 .lwts-custom-page-view-pane-outer .education{
  
}
*/
.action h2,
.education h2{
  padding:6px 0;
}
.action h2 a,
.education h2 a{
  text-decoration:none;
  font-weight:normal;
  font-size:0.8em;
}

.page-home-page h1{
  display:none;
}
.page-home-page h3{
  background:url('../images/wave-icon-grey.png') 0px 2px no-repeat transparent;
  padding:0 0 0 25px;
  font-weight:normal;
  font-size:1.6em;
}
.page-home-page #vocab-2-pane-1 h3{
  background:url('../images/wave-icon-blue2.png') 0px 0px no-repeat transparent;
color:#1d7cdc;
}
.page-home-page #vocab-2-pane-2 h3{
  background:url('../images/wave-icon-green.png') 0px 0px no-repeat transparent;
  color:#2ea165;
}
.page-home-page p{
  
}

#vocab-2-pane-1 .views-field-title a,
#vocab-2-pane-2 .views-field-title a{
   color:#545454;
}

#search-block-form{
 margin-top:25px; 
}
#search-block-form .form-actions{
 display:none;
}
.form-type-textfield input{
 border:1px solid #CFCFCF;
 background:url('../images/glass.png') 98% 50% no-repeat #FFF;
 width:170px;
 padding:4px 30px 4px 4px;
}

.lwts-custom-page h3{
 color:#545454;
 padding:0;
 padding-left:22px;
 font-weight:normal;
 font-size:1.2em;
 background:url('../images/wave-icon-grey.png') 0px 2px no-repeat transparent;
}

.lwts-custom-page .action{
 width:435px;
 margin-right:100px;
 border-bottom:3px solid #1d7cdc;
}
.lwts-custom-page .education{
 width:435px;
 margin-right:100px;
 border-bottom:3px solid #2ea165;
}

.lwts-custom-page .action .view-get-one-article .views-field-title a {
    color: #1D7CDC;
}
.lwts-custom-page .education .view-get-one-article .views-field-title a {
    color: #2ea165;
}

.lwts-custom-page .view-get-one-article .views-field-title a {
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
}



.lwts-custom-page .view-get-article-titles{
 width:355px;
 
}
.lwts-custom-page .view-get-article-titles .views-field img{
  padding:2px;
  border:1px solid #DDD;
}
.lwts-custom-page .view-get-article-titles .views-field-field-article-thumbnail,
.lwts-custom-page .view-get-article-titles .views-field-field-video{
  width:79px;
  height:63px;
  margin:0 12px 0 0;  
  float:left;
}
.lwts-custom-page .view-get-article-titles .views-field-title,
.lwts-custom-page .view-get-article-titles .views-field-body{
  font-size:0.8em;
  line-height:1.2em;
  float:left;
  width:180px;
  
}
.lwts-custom-page .view-get-article-titles .views-field-title{
  font-weight:bold; 
}
.lwts-custom-page .view-get-article-titles .views-field-title a{
  text-decoration:none;
  
}
.lwts-custom-page .view-get-article-titles .Education .views-field-title a{
  color:#2EA165; 
  
}
.lwts-custom-page .view-get-article-titles .Action .views-field-title a{
  color:#1D7CDC;
}
.lwts-custom-page .view-get-article-titles .views-field-title a:hover{
  color:#545454;
}

.lwts-custom-page .view-get-article-titles .views-row{
  clear:both;
  height:90px;
  margin-bottom:12px;
}
.lwts-custom-page .view-get-article-titles p{
  margin:0;
}
.lwts-custom-page-row-outer{
  border-bottom:1px dotted #545454;
  padding-bottom:25px;
  margin-bottom:15px;
}
