
/* For two-column custom pages */
.lwts-custom-page-view-pane {
  margin: 30px 0 0 0;
  float: left;
  width: 48%;
  padding: 0 0.5em;
}

/* For blocks in the header region */
.region-header section {
  float: left;
  margin-left: 30px;
}

/* For the content of the topic nav block */
#block-lwts-custom-blocks-topic-nav .taxonomy-branch {
  float: left;
  font-size: 73%;
}
#block-lwts-custom-blocks-topic-nav .empty {
  padding-left: 7.5em;
}
