
/* For two-column custom pages */
.lwts-custom-page-view-pane {
  margin: 30px 0 0 0;
  float: left;
  width: 48%;
  padding: 0 0.5em;
}

/* For blocks in the header region */
.region-header section {
  float: left;
  margin-left: 30px;
}

/* For blocks in the footer region */
.region-footer section {
  clear: both;
}

/* For the content of the topic nav block */
#block-lwts-custom-blocks-topic-nav .taxonomy-branch {
  float: left;
  font-size: 75%;
  margin-left: 2.5em;
}
#block-lwts-custom-blocks-topic-nav .first {
  margin-left: 0;
}
